<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

div {
  position: relative;
}

p {
  border: 1px solid black;
  background-color: #eadddd;
  width: 95%%;
  height: 150px;
  margin: 10 px /* margin: 0px ; */ 
  padding: 10px;
  font-family: Helvetica;
  color: blue;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
    
.chicken {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    font-size: 1.5em;
    background-color: lightyellow;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    text-align: center;
    }
.beef {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    font-size: 1.5em;
    background-color: yellow;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    text-align: center;
    }
.sushi {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    font-size: 1.5em;
    background-color: limegreen;
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    text-align: center;
   }
/********** Desktop device **********/
@media (min-width: 992px) {
  .col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4,  .col-desktop-5,  .col-desktop-6,
  .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12 
  {
    float: left;
    font-size: 0.7em;
  /*  margin: 10px; */
  }
  .col-desktop-1  { width: 8.33%;  }
  .col-desktop-2  { width: 16.66%; }
  .col-desktop-3  { width: 25%;    }
  .col-desktop-4  { width: 33%;    }
  .col-desktop-5  { width: 41.66%; }
  .col-desktop-6  { width: 50%;    }
  .col-desktop-7  { width: 58.33%; }
  .col-desktop-8  { width: 66.66%; }
  .col-desktop-9  { width: 74.99%; }
  .col-desktop-10 { width: 83.33%; }
  .col-desktop-11 { width: 91.66%; }
  .col-desktop-12 { width: 100%;   }
}

/********** Tablet device **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4,  .col-tablet-5,  .col-tablet-6,
  .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12
  {
    float: left;
    font-size: 0.9em;
 /*  margin: 10px; */
  }
  .col-tablet-1  { width: 8.33%;  }
  .col-tablet-2  { width: 16.66%; }
  .col-tablet-3  { width: 25%;    }
  .col-tablet-4  { width: 33%;    }
  .col-tablet-5  { width: 41.66%; }
  .col-tablet-6  { width: 47%;    }
  .col-tablet-7  { width: 58.33%; }
  .col-tablet-8  { width: 66.66%; }
  .col-tablet-9  { width: 74.99%; }
  .col-tablet-10 { width: 83.33%; }
  .col-tablet-11 { width: 91.66%; }
  .col-tablet-12 { width: 97%;   }
}

/********** Mobile device **********/
@media max-width: 767px {
  .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4,  .col-mobile-5,  .col-mobile-6,
  .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12 
  {
    float: left;
    font-size: 1em;
/*    margin: 10px; */
  }
  .col-mobile-1  { width: 8.33%;  }
  .col-mobile-2  { width: 16.66%; }
  .col-mobile-3  { width: 25%;    }
  .col-mobile-4  { width: 33%;    }
  .col-mobile-5  { width: 41.66%; }
  .col-mobile-6  { width: 50%;    }
  .col-mobile-7  { width: 58.33%; }
  .col-mobile-8  { width: 66.66%; }
  .col-mobile-9  { width: 74.99%; }
  .col-mobile-10 { width: 83.33%; }
  .col-mobile-11 { width: 91.66%; }
  .col-mobile-12 { width: 100%;   }
}

<<<<<<< HEAD
</style>
=======
</style>
>>>>>>> 6b6a66621ce45a2b0438827a13c6d851837af542
