body {
  font-size: 18px;
  background-color: lightgrey;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}
#section { 
  height: 1000px;
}
#brand {
  font-size: 2em;
  text-shadow: 1px 1px 1px #222;
}
h1 {
  background-color: white;
  text-shadow: 1px 1px 1px #222;
}
li {
    border: 1px solid black;
}
#nav-list {
//  margin-top: 10px;
}
#nav-list a {
    background-color: mintgreen;
//  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
