body {
  font-size: 18px;
//  color: #fff;
  background-color: lightgrey;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}
h1 {
  background-color: white;
}
ul { 
  margin : 0px;
}
li {
    border: 1px solid black;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

